name: release

on:
  push:
    tags:
    - "v*"

jobs:
  release-nhctl:
    name: Release nhctl
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14

    - name: Checkout nocalhost
      uses: actions/checkout@v2.3.4
      with:
        repository: nocalhost/nocalhost
        ref: feature/actions/syncthing

    - name: Get tag
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: Export syncthing ref
      run: echo "SYNCTHING_REF=$(cat .syncthing)" >> $GITHUB_ENV

    - name: Checkout syncthing
      uses: actions/checkout@v2.3.4
      with:
        repository: nocalhost/syncthing
        path: ./syncthing-${{ env.SYNCTHING_REF }}
        ref: ${{ env.SYNCTHING_REF }}

    - name: Build syncthing
      working-directory: ./syncthing-${{ env.SYNCTHING_REF }}
      run: ./build.sh artifact all ${{ env.RELEASE_VERSION }}

    - name: Push to Coding Articact
      working-directory: ./syncthing-${{ env.SYNCTHING_REF }}
      env:
        VERSION: ${{ env.RELEASE_VERSION }}
      run: |
        curl -T syncthing-linux-amd64.tar.gz -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://codingcorp-generic.pkg.coding.net/nocalhost/syncthing/syncthing-linux-amd64.tar.gz?version=${VERSION}"
        curl -T syncthing-linux-arm64.tar.gz -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://codingcorp-generic.pkg.coding.net/nocalhost/syncthing/syncthing-linux-arm64.tar.gz?version=${VERSION}"
        curl -T syncthing-macos-amd64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://codingcorp-generic.pkg.coding.net/nocalhost/syncthing/syncthing-macos-amd64.zip?version=${VERSION}"
        curl -T syncthing-windows-amd64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://codingcorp-generic.pkg.coding.net/nocalhost/syncthing/syncthing-windows-amd64.zip?version=${VERSION}"
